<h1>Update Pokemon</h1>

<h2>Edits for <%= @pokmeon.name %></h2>
  
    <form action="/pokemon/<%= @pokemon.id %>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <label>Edit the Pokemon's Name:</label>
      <input type="text" name="pokemon[name]" id= "pokemon_name" value="<%= @pokemon.name %>">
      <label>Edit the Pokmeon's Type:</label>
      <input type="text" name="pokemon[type]" id= "pokemon_type" value="<%= @pokemon.type %>">
      
      <br>
      <p>Does this pokemon belong to any of the Trainers below?</p>
      
      <h3>Trainers</h3>
      <% Trainer.all.each do |trainer| %>
        <input type="checkbox" name="pokemon[trainer_id]" id="<%= trainer.id %>" value="<%= trainer.id %>" <%='checked' if @pokemon.trainer == trainer %><%= trainer.name %>></input>
        <br>
        <% end %>
        
      <input type="submit" value="Update Pokemon">
      </form>
<br>
<br>
<a href="/welcome">Home Page</a>    