<h1>Update Trainer</h1>

<h2>Edits for <%= @trainer.name %></h2>
 
  <form action="/trainers/<%= @trainer.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit the Trainer's Name:</label>
    <br>
    <input type="text" name="name" value="<%= @trainer.name %>">
 
    <br>
    <p>Select an existing pokemon or create a new one below.</p>
 
 
    <h3>Existing Pokemon</h3>
    <% @pokemon.each do |pokemon| %>
      <input type="checkbox" name="trainer[pokemon_ids][]" id="<%= pokemon.id %>" value="<%= pokemon.id %>" <%='checked' if @trainer.pokemon.include?(pokemon) %>><%= pokemon.name %></input><br>
    <% end %>
    <br>
 
    <h3>New Pokemon</h3>
    <label>Pokemon Name: </label>
    <br>
    <input type="text" name="pokemon[name]" id="pokemon_name"></input>
    <br><br>
 
    <input type="submit" value="Update Trainer">
  </form>
<br>
<br>
<a href="/welcome">Home Page</a>